/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #f9f6ff;
}

.main-content {
  flex: 1;
  padding-top: 80px;
}

.app-footer {
  background-color: #546154;
  color: white;
  text-align: center;
  padding: 1.5rem 0;
  margin-top: 0;
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  margin-bottom: -50px;
}

.app-footer p {
  margin: 0.3rem 0;
  font-size: 0.9rem;
  font-weight: 400;
}